.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-inline: 4rem;
    gap: 3rem;
    padding-top: 2rem;
    margin-top: 5rem;
    position: relative;
   
    .left{
        display: grid;
        gap: 2rem;
        grid-template-columns: 0.8fr 2fr;
        position: relative;
        .users{
            // border: 1px solid red;
            background-color: #f2f2f2;
            // border-radius: 10px;
            height: max-content;
            border-radius: 10px 10px 0 0;
            position: sticky;
            top: 6rem;
            // padding-bottom: 0.5rem;
            h3{
                font-family: "Montserrat", sans-serif;
                text-align: center;
                font-weight: bold;
                text-align: center;
                color: #333;
                text-shadow: 1px 1px #ddd;
                margin-block: 0.5rem;
            }
            .user{
                padding: 5px;
                text-align: center;
                background-color: #ddd;
                cursor: pointer;
                border-bottom: 1px solid #333;
                transition: all 0.1s ease-in-out;
                &:hover{
                    background-color: #fff;
                }

                .user_name{
                    font-weight: 600;
                }
                .username{
                    text-decoration: none;
                }
            }
        }
        .post{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f2f2f2;
            padding-inline: 30px;
            padding-block: 15px;
            gap: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            font-family: "Montserrat", sans-serif;
            height: fit-content;
            margin-bottom: 3rem;
            width: 100%;
            .names{
                position: relative;
                align-self: stretch;
                text-align: center;
                // border: 1px solid red;
                .menu-dots{
                    position: absolute;
                    // border: 1px solid blue;
                    cursor: pointer;
                    height: 110%;
                    right: 0px;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;

                    .menu-items{
                        position: absolute;
                        top: 19px;
                        right: 3px;
                        background-color: #333;
                        // display: block;
                        display: none;
                        flex-direction: column;
                        a{
                            width: 6rem;
                            color: white;
                            text-decoration: none;
                            height: 2rem;
                            font-size: 0.9rem;
                            border: 1px solid #333;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover{
                                background-color: white;
                                color: #333;
                            }
                        }

                    }
                }
                .name{
                    font-weight: 600;
                }
                .username{
                    color: #333;
                    text-decoration: none;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover{
                        color: blue;
                    }
                }
            }
            .content{
                align-self: stretch;
                background-color: white;
                padding: 10px;
                padding-block: 15px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: space-around;
                // border: 1px solid blue;
                align-self: stretch;
                >div{
                    // margin-right: 5rem;
                    cursor: pointer;
                }
            }
            .add-comment{
                align-self: stretch;
                display: flex;

                gap: 15px;
                input{
                    width: 55%;
                    padding: 10px;
                    font-size: 12px;
                    border: none;
                    border-radius: 5px;
                    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                    outline: none;
                    resize: vertical;
                    flex-grow: 1;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                button {
                    padding: 10px;
                    background-color: #333;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                button:hover {
                    background-color: #ddd;
                    color: #333;
                }
            }
            .comments{
                align-self: stretch;
                // border: 1px solid red;
                .view-comments{
                    background-color: lightgray;
                    cursor: pointer;
                    padding: 10px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    transition: 0.4s;
                    border-radius: 10px;

                    &:hover{
                        background-color: darkgray;
                    }
                    &.active{
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                .comments-list{
                    // border: 1px solid red;
                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    .comment{
                        background-color: white;
                        padding: 10px;
                        font-size: 15px;
                        border-bottom: 1px solid #333;
                        display: flex;
                        .comment-details{
                            flex-grow: 1;
                            .comment-user{
                                font-size: 12px;
                                margin-bottom: 5px;
                                .comment-username{
                                    color: #333;
                                    text-decoration: none;
                                    cursor: pointer;
                                    &:hover{
                                        color: blue;
                                    }
                                }
                            }
                            .comment-content{
                                font-size: 14px;
                            }
                        }
                        .comment-delete{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.2rem;
                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    .right{
        position: sticky;
        top: 6rem;
        height: max-content;
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f2f2f2;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            font-family: "Montserrat", sans-serif;


            h1 {
                margin: 0;
                font-size: 36px;
                font-weight: bold;
                text-align: center;
                color: #333;
                text-shadow: 1px 1px #ddd;
            }

            .post-input{
                margin-top: 20px;
                padding: 10px;
                font-size: 18px;
                width: 100%;
                border: none;
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                outline: none;
                resize: vertical;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            
            button:hover {
                background-color: #ddd;
                color: #333;
            }
        }
    }
}